.dashboard-container {
  background-color: #eeeeee;
  height: 100vh;
  display: flex;
  width: 100%;
}

.variations-container {
  width: 100%;
  padding: 10px 0 15px 10px;
}

.variations-info {
  padding-left: 20px;
  width: auto;
}

.illustration {
  position: absolute;
  bottom: 0px;
  right: 40px;
  text-align: right;
}

.illustration img {
  width: 30%;
}

.top-menu {
  position: absolute;
  right: 1px;
  top: 0px;
  background-color: white;
  height: 100vh;
  width: 20%;
}

.top-menu-ul {
  display: flex;
  list-style: none;
}
